@CHARSET "UTF-8";

input[readonly="readonly"],input[readonly="readonly"]:focus{
	background-color: inherit;
	color: inherit;
	border-width: 0;
	width: auto;
}

textarea[readonly="readonly"],textarea[readonly="readonly"]:focus{
	background-color: inherit;
	color: inherit;
	border-width: 0;
	width: 100px;
	resize:none;
}

textarea{
	outline:  none !important;
	background-color: #ffffff;
	width: 100px;
	vertical-align:top;
	border: 1px solid #dadada;
}

textarea.widebox{
	width:225px;
}

input{
	outline:  none !important;
	background-color: #ffffff;
	color: #000000;
	border: 1px solid #dadada;
	width: auto;
}

label{
	text-align:left;
	padding: 1px;
	margin: 0px 5px;
}

input:not([type="button"]):not([readonly="readonly"]):not([type="submit"]):focus,textarea:not([readonly="readonly"]):focus{
	background-color: #F5F4A8;
	outline: none;
}

td input[type="text"]
{
	width:100px;
	transition: width 0.25s;
	white-space:normal;
}

.questionnaire_form{
	text-align: left;
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	border-color: #2A894E;
}

.questionnaire_form label{
	width: 90%;
	margin: 10px;
}

.questionnaire_form input,.questionnaire_form textarea, .questionnaire_form select
{
	float:right;	
	width: 300px;
	border: 1px solid #dadada; 
}

.rwd-table td{
	width: 1px;
 /*   white-space: nowrap;*/
}

input[type="number"]
{
	width:75px;
	transition: width 0.25s;
}

.dynamic_before:before{
	content:attr(data-content);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  display:none;
  margin: 0; 
}

td:nth-child(2) input[type="text"]{
	width:150px;
}

td:nth-child(2) textarea{
	width:150px;
}

.rwd-table td:nth-child(2), .rwd-table th:nth-child(2){
	width:180px;
}

html {
	width: 98%;
	height: 100%;
	align-items: center;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

a {
	text-decoration: none;
	color: inherit;
	outline: none;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}

a:hover {
	color: #445a71;	
}


body {
	color: #2A2A2A;
	position:relative;
	background: #FFFFFF;
	width: 100%;
	height: 100%;
	align-items: center;
	margin: 0;
	font-size: 13px;
	line-height: 15px;
	font-family: 'ubuntu', 'Open Sans', serif;
}
/*
img {
	max-width: 80%;
}
*/
div.search_bar{
	color:#EDEDE4;
	width:100%;
	position: fixed;
	top: 0%;
	left: 0%;	
	background: #2A2A2A;
	height: 35px;
	border-style: solid;
	border-width: 2px;
	border-color: #2A2A2A;
}


div.header_person{
	float: left;
	width: 35%;
	text-align: left;
	margin: 0.5% 1% .5% 1%;
}


div.searchBlock{
	float: right;
	text-align: left;
	width: 60%;
}


.clear{
	clear: both;
}

input[type="text"]#search_box{
	float: right;
	width: 100%;
	margin: 1% 1% 1% 1%;
	color:#2a2a2a; 
	background-color: #ffffff;
}

.search_icon{
	height: 25px;
	width: 25px;
	background:url('/images/search.png') no-repeat left top;
	border: 0;
	cursor: pointer;
	background-size: 25px 25px;
	color:transparent;
	float: right;		
	margin: 0.5% 1% .5% 0%;
	vertical-align:middle;
}

a div{
	cursor: pointer;
}

#home_grid>ul{
	list-style-type: none;
	margin: 1%; 
	padding: 0;
	background: #FFFFFF;
}

#home_grid>ul>li {
	margin: 1%;
	padding: 0;
	float: left;
	width: 220px;
	height: 100px;
	background: #FFFFFF;
	cursor: pointer;
}

#home_grid>ul>li>ul{
	list-style-type: none;	
	margin: 1%;
	padding: 1%;
	float: left;
	text-align: left;
	font-size: .9em;
	color:#ffffff;
}


#home_grid>ul>li>a{
	width: 100%;	
}

#home_grid>ul>li>a>div{
	margin: 0;	
	padding: 1%;
	/*background-color:#E66051;*//*changed*/
	color: #EDEDE4;
}

.function_detail{
	align-content: center;
	text-align: center;
/*	min-height: inherit;*/
}

.report_detail{
}

#loading_icon{
	width:30%;
    height: 30%;
    position: fixed;
    top: 35%;
    left: 42%;
    z-index:1000;
}

#transparent_layer{
	width:100%;
	height:100%;
	position:fixed;
	top: 0;
	left: 0;
	z-index:999;
	opacity: 0.8;
	background-color: #333333;
}

#count_notif{
	float: right;
	position:absolute;
	right: 5px;
	border-radius: 2px;
	font-size: .7em;
	text-align: left;
	display:none;
	background-color:#dddd00;
	padding:0px 3px;
	min-width:15px;
}


.filter{
	top: inherit;
	left:inherit;
	background-color: #ffffff;
	border-width: 1px;
	color: #545453;
	width: 100px;
}

#progress_ind
{
	display:none;
	position: fixed;
    top: 5%;
    left: 40%;
    z-index:1000;
}

progress{  
	background-color: #fff;  
	border: 0;
	height: 25px;
	width: 150px;
	border-radius: 9px;
}

progress::-webkit-progress-bar {
	background-color: #fff;
	border-radius: 9px;
}

progress::-webkit-progress-value {
	background: #cdeb8e;
	background: -moz-linear-gradient(top,  #cdeb8e 0%, #a5c956 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cdeb8e), color-stop(100%,#a5c956));
	background: -webkit-linear-gradient(top,  #cdeb8e 0%,#a5c956 100%);
	background: -o-linear-gradient(top,  #cdeb8e 0%,#a5c956 100%);
	background: -ms-linear-gradient(top,  #cdeb8e 0%,#a5c956 100%);
	background: linear-gradient(to bottom,  #cdeb8e 0%,#a5c956 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeb8e', endColorstr='#a5c956',GradientType=0 );
	border-radius: 9px;
}
progress::-moz-progress-bar {
	background: #cdeb8e;
	background: -moz-linear-gradient(top,  #cdeb8e 0%, #a5c956 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cdeb8e), color-stop(100%,#a5c956));
	background: -webkit-linear-gradient(top,  #cdeb8e 0%,#a5c956 100%);
	background: -o-linear-gradient(top,  #cdeb8e 0%,#a5c956 100%);
	background: -ms-linear-gradient(top,  #cdeb8e 0%,#a5c956 100%);
	background: linear-gradient(to bottom,  #cdeb8e 0%,#a5c956 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeb8e', endColorstr='#a5c956',GradientType=0 );
	border-radius: 9px;
}
#progress_value {
	padding: 0px 5px;
	line-height: 25px;
	margin-left: 5px;
	font-size: 1em;
	color: #fff;
	font-weight:bold;
	height: 25px;
	float: right;
}

/* 
formatting for feeds
*/

.feed_item{
	border: 1px solid #000;
	margin: 5px;
	padding: 5px;	
	text-align: left;
}

.feed_title{
	width:80%;
	text-align: left;
	margin: 2px;
	font-weight: bold;
}

div.feed_detail{
	width:80%;
	text-align: left;
	margin: 2px;
}

textarea.feed_detail{
	width:80%;
	text-align: left;
	margin: 2px;
	border: 1px solid #dadada;
}

.feed_likes{
	width:80%;
	text-align: left;
	padding: 2px;
}

div.feed_comments{
	width:80%;
	text-align: left;
	padding: 5px;
}

textarea.feed_comments{
	width:80%;
	height:30px;
	text-align: left;
	padding: 2px;
	border: 1px solid #dadada;
}

.feed_post{
	width:80%;
	text-align: left;	
	margin-right: 5px;
}

/*end feed formatting*/


/* 
Table formatting for responsive functionality
*/

.rwd-table {
	margin: 1em 0;
	min-width: 300px;
	background: #EAF2D3;
	overflow: hidden;
}
.rwd-table tr {
  border-top: 1px solid #98BF21;
  border-bottom: 1px solid #98BF21;
  border-color: #98BF21;
}
.rwd-table th {
	display: none;
	background-color:#2C8A50;
	color: #fff;
	margin: .5em 1em;
	text-align: left;
}
.rwd-table thead tr th:last-child{
	display:block;
	background-color:#2C8A50;
}
.rwd-table td {
	display: block;
	margin: .5em 1em;
	text-align: left;
}
.rwd-table td:first-child {
  padding-top: .5em;
}

.rwd-table td:last-child {
  padding-bottom: .5em;
}

.rwd-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 120px;
  display: inline-block;
}

.rwd-table thead tr:first-child{
	background: #2C8A50;
}

.rwd-table td:before{
	background-color:#2C8A50;
	color: #fff;
}
/* end table formatting */

table{
	border: 1px solid #98BF21;
	border-collapse: collapse;
	table-layout:fixed;
	width:100%;
}

tbody>tr>td{
	text-align: center;
	vertical-align: middle;
	padding: 0px 2px;
}

tbody tr:hover{
	background:#d8d0b1;
}

.filter_icon{
	height:20px;
	width: 20px;
	border: 0;
	cursor: pointer;
}

.thumbs_icon{
	height:20px;
	width: 20px;
	border: 0;
	cursor: pointer;
}

.export_icon{
	height: 25px;
	width: auto;
	cursor: pointer;
	border: 2px solid #1A783B;
	display: inline-block;
	color: #FFF;
	font-size: 1em;
	text-align: center;
	-webkit-appearance:none;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	background: #2ABF5E;
	outline: none;
}

.import_icon{
	height: 25px;
	width: auto;
	cursor: pointer;
	border: 2px solid #8B0000;
	display: inline-block;
	color: #FFF;
	font-size: 1em;
	text-align: center;
	-webkit-appearance:none;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	background: #DB0000;
	outline: none;
}

.generic_icon{
	height: 25px;
	width: auto;
	cursor: pointer;
	border: 2px solid #818060;
	display: inline-block;
	color: #FFF;
	font-size: 1em;
	text-align: center;
	-webkit-appearance:none;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	background: #818060;
	outline: none;
	margin: 2px 0px;
}

.modal_submit{
	height: 25px;
	width: auto;
	cursor: pointer;
	border: 2px solid #818060;
	display: inline-block;
	color: #FFF;
	font-size: 1em;
	text-align: center;
	-webkit-appearance:none;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	background: #818060;
	outline: none;
	margin: 2px 5px;
	float:right;
}

.generic_head_icon{
	height: 25px;
	width: auto;
	cursor: pointer;
	border: 2px solid #1A783B;
	display: inline-block;
	color: #FFF;
	font-size: 1em;
	text-align: center;
	-webkit-appearance:none;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	background: #2ABF5E;
	outline: none;
	margin: 2px 0px;
}


.submit_hidden{
	width:1px;
	color:transparent;
	visibility:hidden;
}

.save_icon{
	height: 25px;
	width: 25px;
	background:url('/images/save.png') no-repeat left top;
	background-size: 25px 25px;
	color:transparent;
	border: 0;
	cursor: pointer;
	border-radius: 1px;
	vertical-align:middle;
}

.share_icon{
	height: 25px;
	width: 25px;
	background:url('/images/share.png') no-repeat left top;
	background-size: 25px 25px;
	color:transparent;
	border: 0;
	cursor: pointer;
	border-radius: 1px;
	vertical-align:middle;
}

.delete_icon{
	height:25px;
	width: 25px;
	background:url('/images/delete.png') no-repeat left top;
	background-size: 25px 25px;
	color:transparent;
	border: 0;
	cursor: pointer;
	border-radius: 1px;
	vertical-align:middle;
}

.copy_icon{
	height:25px;
	width: 25px;
	background:url('/images/copy.png') no-repeat left top;
	border: 0;
	cursor: pointer;
	background-size: 25px 25px;
	color:transparent;
	vertical-align:middle;
}

.edit_icon{
	height:25px;
	width: 25px;
	background:url('/images/edit.png') no-repeat left top;
	border: 0;
	cursor: pointer;
	background-size: 25px 25px;
	color:transparent;
	vertical-align:middle;
}

.barcode_icon{
	height:25px;
	width: 25px;
	border: 0;
	cursor: pointer;
}


.add_icon{
	height:25px;
	width: 25px;
	background:url('/images/add_button.png') no-repeat left top;
	border: 0;
	cursor: pointer;
	background-size: 25px 25px;
	color:transparent;
	vertical-align:middle;
}

.add_red_icon{
	height:25px;
	width: 25px;
	background:url('/images/add_red_button.png') no-repeat left top;
	border: 0;
	cursor: pointer;
	background-size: 25px 25px;
	color:transparent;
	vertical-align:middle;
}

.add_image{
	height:25px;
	width: 25px;
	border: 0;
	cursor: pointer;
}

.prev_icon{
	height:30px;
	width: 50px;
	border: 0;
	cursor: pointer;
	float:left;
}

.next_icon{
	height:30px;
	width: 50px;
	border: 0;
	cursor: pointer;
	float:right;
}

.form_nav{
	width:100;
}

.print_icon{
	height:25px;
	width: 25px;
	background:url('/images/print.png') no-repeat left top;
	border: 0;
	cursor: pointer;
	background-size: 25px 25px;
	color:transparent;
	vertical-align:middle;
}

a.small_cross_icon{
	width:10px;
	height:10px;
	color: #222;
	cursor: pointer;
}

.customers_pane{
	overflow-x: auto;
	width: 99%;
	float:left;
	max-width:500px;
}
.customers_content{
	width: 99%;
	float: left;
	padding:5px;
	overflow-x: auto;
}

.customers_content_item{
	background-color: #7A8491;
	color: #FFF;
	width: 200px;
	height: 70px;
	float: left;
	text-align: left;
	margin:auto;
	padding: 5px;
	border: 2px solid #FFFFFF;
}

.customers_bar_wrap{
	clear: left; 
	padding: 0 5px;  
}

.ui-slider .ui-slider-handle {
    height: 15px !important;
    width: 30px !important;
    padding-left: 5px;
    background-color:#7A8491;
}

.figure{ 
  width: 90px; 
  float: left; 
  border: 2px solid white; 
  -webkit-box-shadow: 0 3px 10px #ccc; 
  -moz-box-shadow: 0 3px 10px #ccc;
  -webkit-transform: rotate(5deg); 
  -moz-transform: rotate(5deg);
  -webkit-transition: all 0.7s ease; 
  -moz-transition: all 1s ease;
  position: relative;
}

.figure>img{ 
  width: 100%; /* Scale down */
}

.figure:hover {
  -webkit-transform: rotate(-1deg); -moz-transform: rotate(1deg);
  -webkit-box-shadow: 0 3px 10px #666; -moz-box-shadow: 0 3px 10px #666;
}

.figure:active{
  outline: none;
  -webkit-transform: rotate(-3deg) scale(2.5); -moz-transform: rotate(-3deg) scale(2.5);
   -webkit-box-shadow: 0 3px 10px #666; -moz-box-shadow: 0 3px 10px #666;
  z-index: 9999;
}

.activity_header{
	background-color:#2A2A2A;
	color: #EBE5DC;
	font-size:1em;
	height: 20px;
	cursor: pointer;
	padding: 1px 5px;
}

.activity_detail{
	background-color: #558C89;
	border: 2px solid #FFFFFF;
	color:#F5F3EE;
	padding: 5% 5% 5% 5%;
	line-height:100%;
	font-size:.9em;
}

.activity_detail>a{
	font-size: .8em;
	padding:2px;
}

.activity_log{
	font-size: .6em;
}

.all_activity_detail{
	background-color: #558C89;
	border: 2px solid #FFFFFF;
	color:#F5F3EE;
	padding: 1% 5% 1% 5%;
	float:left;
	width:90%;
}

.all_activity_detail a{
	cursor: pointer;
}

.all_activity_log{
	font-size: .9em;
}

.notification_detail{
	background-color: #C37E4C;
	border: 2px solid #FFFFFF;
	color:#F5F3EE;
	padding: 1% 5% 1% 5%;
	float:left;
	width:90%;
}

.notification_detail a{
	cursor: pointer;
}

.notification_detail input{
	font-size: .9em;
}

.notification_status{
	font-size: .9em;
}

.search_detail{
	background-color: #AB7D44;
	border: 2px solid #FFFFFF;
	color:#F5F3EE;
	padding: 1% 5% 1% 5%;
	float:left;
	width: 100%;
}

/** report sizing and display ***/
canvas{ 
	display:block;
	position:absolute;
	border: 1px solid black;
}

.modal_forms{
	display:none;
}

.modal_forms input, .modal_forms textarea{
	border: 1px solid #dadada;
}

@media screen and (min-width: 1300px) {
	#content_box{
		min-width:1050px;
	}
	.customers_pane{
		max-width:1050px;
	}
}

@media screen and (min-width: 1100px) {
	.questionnaire_form input,.questionnaire_form textarea,.questionnaire_form select
	{
		float:right;	
		width: 500px;
	}

	#content_box{
		min-width:900px;
	}
	.customers_pane{
		max-width:900px;
	}
	
}

@media screen and (min-width: 900px) {
	#content_box{
		min-width:700px;
	}
	.customers_pane{
		max-width:700px;
	}
}


@media (min-width: 850px)
{
	.questionnaire_form input,.questionnaire_form textarea, .questionnaire_form select
	{
		float:right;	
		width: 400px;
	}
	
  .rwd-table td:before {
    display: none;
  }
	.rwd-table th, .rwd-table td {
	    display: table-cell;
	    padding: .25em .5em;
		padding: 1em !important;
	}
	.rwd-table thead tr th:last-child{
		display: table-cell;
	    padding: .25em .5em;
	    width:100px;
	}
	.rwd-table th:first-child, .rwd-table td:first-child {
		padding-left: 0;
  	}
  	.rwd-table th:last-child, .rwd-table td:last-child {
    	padding-right: 0;
    	width:100px;
  	}
  	.rwd-table tfoot tr{
		background-color:#fff;
		font-weight: bold;
	}
}


@media screen and (min-width: 550px) {
	#side_menu{
		background-color: #A2A2A2;	
		width: 50px;
		height: auto;
		position: fixed;
		top: 10%;
		left:0%;
		float: left;
		border-style: solid;
		border-width: 2px;
		/*border-radius: 5px;*//*changed*/
		border-color: #A2A2A2;
		margin: 1% 1% 1% 0%;
		z-index:99;
	}
	
	.menu_icon{
		position:relative;
		width: 40px;
		height: 40px;
		margin: 25% 15% 25% 15%;
		cursor: pointer;
	}
	
	.icon{
		width:100%;
		border-radius: 2px;
	}
	footer{
		display: block;
		width:100%;
		text-align:center;
		height:25px;
		color:#2A2A2A;
		margin: 2px;
		z-index:99;
	}
	#content_box{
		width: auto;
		float: left;
		/*border-style: solid;
		border-width: 2px;
		border-radius: 5px;
		border-color: #2A2A2A;*//*changed*/
		top: 45px;
		left: 55px;
		height: auto;
		margin: 50px 130px 50px 60px;
	}
	.side_lane{
		width: 140px;
		height: 75%;
		min-height: 50%;
		text-align: left;
		float: right;
		border-style: solid;
		/*border-radius: 5px;*//*changed*/
		border-width: 2px;
		border-color: #2A2A2A;
		margin: 1% 0% 1% 1%;
		position: fixed;
		top:45px;
		right:0%;
		overflow-y: auto;
		overflow-x: hidden;
	}
}


@media (max-width: 850px)
{
	.rwd-table td{
	    white-space: nowrap;
	}
}

/*this is applicable for mobile screens*/
@media screen and (max-width: 550px) 
{	
	#home_grid{
		padding-left: 22px;
		padding-right: 22px;
	}

	#home_grid>ul>li>ul{
		display: none;
	}
	
	#home_grid>ul>li {
		margin: 1%; 	
		padding: 0;
		float: left;
		width: 200px;
		height: 150px;
	}	
	
	#home_grid>ul>li>a{
		width: 100%;	
		height: 100%;
	}
	
	#home_grid>ul>li>a>div{
		width: 100%;	
		height: 53%;
		font-size: 1.5em;
		text-align: center;
		padding-top: 70px;
	}
	
	.questionnaire_form input,.questionnaire_form textarea,.questionnaire_form select
	{
		float:right;	
		width: 200px;
	}

	.customers_pane{
		max-width:300px;
	}
	#side_menu{
		background-color: #A2A2A2;	
		width: 98%;
		height: 75px;
		position: fixed;
		bottom: -2%;
		left:-1%;
		padding-left:10px;
		padding-right:10px;
		padding-bottom: 5px;
		z-index:99;
		text-align: justify;
	}
	#side_menu:after {
	  content: '';
	  width: 100%;
	  display: inline-block;
	}
	footer.main_footer{
		display: none;
	}
	.menu_icon{
		display: inline-block;
		width: 60px;
		height: 60px;
		cursor: pointer;
	}
	.icon{
		border-radius: 2px;
		/*width: 100%;*/
		height: 60px;
	}
	#content_box{
		width: auto;
		float: left;
		top: 45px;
		left: 5px;
		height: auto;
		margin: 50px 2px 50px 2px;
	}
	.side_lane{
		display:none;
	}
	.vy_accordion>h3{
		height:50px;
		width:87%;
	}
	
	/**content size in the grids*/
	.rwd-table{
		font-size: 20px;
		margin: 0px;
		padding:2px;
	}	
	
	.rwd-table td:before {
	  width: 170px;
  	}
  	
	.export_icon, .generic_icon, .import_icon,.modal_submit{
		height:30px;
		font-size: 20px;
	}
	
	.function_detail{
		width:475px;
		padding: 5px;
		text-align: center;
	}
	
	canvas{
		position:relative;
	}
	
	label{
		min-width:300px;
		font-size: 20px;
	}
	
	input,textarea,select,button{
		font-size: 20px;
	}
	
	input[type='text'],textarea,select{
		min-width: 225px;
		margin: 2px;
	}
	input[type='number']{
		min-width: 150px;
		margin: 2px;
	}
	
	.submit_hidden{
		min-width:1px;
	}
	
	.save_icon,.delete_icon,.share_icon,.edit_icon,.copy_icon,.add_icon,.add_image,.print_icon{
		min-width:40px;		
		height:40px;
		width:40px;
		background-size: 40px 40px;
	}
	
	.rwd-table td{
		margin: 10px 5px;
	}
	
	.modal_forms input,.modal_forms textarea,.modal_forms select{
		min-width: 200px;
		width:200px;
	}
	
	#search_box{
		height: 25px;
		font-size: 20px;
	}
	
	v2{
		margin-left: 175px;
	}
}