@CHARSET "UTF-8";

input[readonly="readonly"],input[readonly="readonly"]:focus{
	background-color: inherit;
	color: inherit;
	border-width: 0;
	width: auto;
}

textarea[readonly="readonly"],textarea[readonly="readonly"]:focus{
	background-color: inherit;
	color: inherit;
	border-width: 0;
	width: 100px;
	resize:none;
}

textarea{
	width: 100px;
	vertical-align:middle;
}

input{
	outline:  none !important;
	background-color: #ffffff;
	color: #000000;
	border-width: 1px;
	width: auto; 
}

label{
	text-align:left;
	padding: 1px;
	margin: 0px 5px;
}

input:not([readonly="readonly"]):not([type="button"]):focus,textarea:not([readonly="readonly"]):focus{
	background-color: #F5F4A8;
	outline: none;
}

td input[type="text"]
{
	width:100px;
	transition: width 0.25s;
	white-space:normal;
}

td{
	width: 1px;
    white-space: nowrap;
}

td>input[type="number"],input[type="number"]
{
	width:75px;
	transition: width 0.25s;
}

.dynamic_before:before{
	content:attr(data-content);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  display:none;
  margin: 0; 
}

html {
	width: 98%;
	height: 100%;
	align-items: center;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

a {
	text-decoration: none;
	color: inherit;
	outline: none;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}

a:hover {
	color: #445a71;	
}


body {
	font: 13px/19px  Arial, Helvetica, sans-serif;
	color: #121212;
	position:relative;
	background: #DCDDD3;
	width: 100%;
	height: 100%;
	align-items: center;
/*	overflow-y: hidden;*/
	margin: 0;
	font-size: 1.2em;
}

img {
	max-width: 80%;
}

div.search_bar{
	color:#EDEDE4;
	width:100%;
	position: fixed;
	top: 0%;
	left: 0%;	
	background: #2A2A2A;
	height: 35px;
	border-style: solid;
	border-width: 2px;
	border-radius: 5px;
	border-color: #2A2A2A;
	padding: auto;
}


div.header_person{
	float: left;
	width: 35%;
	text-align: left;
	margin: 0.5% 1% .5% 1%;
}


div.searchBlock{
	float: right;
	text-align: left;
	width: 60%;
	padding: auto;
}


.clear{
	clear: both;
}

input[type="text"]#search_box{
	float: right;
	width: 100%;
	margin: 1% 1% 1% 1%;
	color:#2a2a2a; 
	background-color: #ffffff;
}

.search_icon{
	height: 25px;
	width: 25px;
	background:url('/images/search.png') no-repeat left top;
	border: 0;
	cursor: pointer;
	background-size: 25px 25px;
	color:transparent;
	float: right;		
	margin: 0.5% 1% .5% 0%;
	vertical-align:middle;
}

#home_grid>ul{
	list-style-type: none;
	margin: 1%; 
	padding: 0;
	background: #DCDDD3;
}

#home_grid>ul>li {
	margin: 1%; 	
	padding: 0;
	float: left;
	width: 220px;
	height: 100px;
	border-style: solid;
	border-width: 2px;
	border-radius: 5px;
	border-color: #E66051;
	background: #DCDDD3;
}

#home_grid>ul>li>ul{
	list-style-type: none;	
	margin: 1%;
	padding: 1%;
	float: left;
	text-align: left;
	font-size: .9em;
}


#home_grid>ul>li>a{
	width: 100%;	
}

#home_grid>ul>li>a>div{
	margin: 0;	
	padding: 1%;
	background-color:#E66051;
	color: #EDEDE4;
}

.function_detail{
	align-content: center;
	text-align: center;
	border-radius: 5px;
/*	min-height: inherit;*/
}

.report_detail{
	border-radius: 5px;
}

#loading_icon{
	width:30%;
    height: 30%;
    position: fixed;
    top: 35%;
    left: 50%;
    z-index:1000;
}

#transparent_layer{
	width:100%;
	height:100%;
	position:fixed;
	top: 0;
	left: 0;
	z-index:999;
	opacity: 0.8;
	background-color: #333333;
}

#count_notif{
	float: right;
	position:absolute;
	right: 10px;
	border-radius: 2px;
	font-size: .7em;
	width:13px;
	height: 15px;
	text-align: left;
	padding:0px 3px;
	display:none;
	background-color:#dddd00;
}

.filter{
	visibility: hidden;
	opacity: 0;
	top: inherit;
	left:inherit;
	background-color: #ffffff;
	border-width: 1px;
	color: #545453;
	width: inherit;
}

#progress_ind
{
	display:none;
	position: fixed;
    top: 5%;
    left: 40%;
    z-index:1000;
}

progress{  
	background-color: #fff;  
	border: 0;
	height: 25px;
	width: 150px;
	border-radius: 9px;
}
progress::-webkit-progress-bar {
	background-color: #fff;
	border-radius: 9px;
}
progress::-webkit-progress-value {
	background: #cdeb8e;
	background: -moz-linear-gradient(top,  #cdeb8e 0%, #a5c956 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cdeb8e), color-stop(100%,#a5c956));
	background: -webkit-linear-gradient(top,  #cdeb8e 0%,#a5c956 100%);
	background: -o-linear-gradient(top,  #cdeb8e 0%,#a5c956 100%);
	background: -ms-linear-gradient(top,  #cdeb8e 0%,#a5c956 100%);
	background: linear-gradient(to bottom,  #cdeb8e 0%,#a5c956 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeb8e', endColorstr='#a5c956',GradientType=0 );
	border-radius: 9px;
}
progress::-moz-progress-bar {
	background: #cdeb8e;
	background: -moz-linear-gradient(top,  #cdeb8e 0%, #a5c956 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cdeb8e), color-stop(100%,#a5c956));
	background: -webkit-linear-gradient(top,  #cdeb8e 0%,#a5c956 100%);
	background: -o-linear-gradient(top,  #cdeb8e 0%,#a5c956 100%);
	background: -ms-linear-gradient(top,  #cdeb8e 0%,#a5c956 100%);
	background: linear-gradient(to bottom,  #cdeb8e 0%,#a5c956 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeb8e', endColorstr='#a5c956',GradientType=0 );
	border-radius: 9px;
}
#progress_value {
	padding: 0px 5px;
	line-height: 25px;
	margin-left: 5px;
	font-size: 1em;
	color: #fff;
	font-weight:bold;
	height: 25px;
	float: right;
}

/* 
Table formatting for responsive functionality
*/

.rwd-table {
	margin: 1em 0;
	min-width: 300px;
	background: #EAF2D3;
	border-radius: .4em;
	overflow: hidden;
}
.rwd-table tr {
  border-top: 1px solid #98BF21;
  border-bottom: 1px solid #98BF21;
  border-color: #98BF21;
}
.rwd-table th {
	display: none;
	background-color:#2C8A50;
	color: #fff;
	margin: .5em 1em;
	text-align: left;
}
.rwd-table thead tr th:last-child{
	display:block;
	background-color:#2C8A50;
}
.rwd-table td {
	display: block;
	margin: .5em 1em;
	text-align: left;
}
.rwd-table td:first-child {
  padding-top: .5em;
}
.rwd-table td:last-child {
  padding-bottom: .5em;
}
.rwd-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 120px;
  display: inline-block;
}
.rwd-table thead tr:first-child{
	background: #2C8A50;
}
.rwd-table td:before{
	background-color:#2C8A50;
	color: #fff;
}

@media (min-width: 850px)
{
  .rwd-table td:before {
    display: none;
  }
	.rwd-table th, .rwd-table td {
	    display: table-cell;
	    padding: .25em .5em;
		padding: 1em !important;
	}
	.rwd-table thead tr th:last-child{
		display: table-cell;
	    padding: .25em .5em;
	    width:100px;
	}
	.rwd-table th:first-child, .rwd-table td:first-child {
    	padding-left: 0;
  	}
  	.rwd-table th:last-child, .rwd-table td:last-child {
    	padding-right: 0;
    	width:100px;
  	}
  	.rwd-table tfoot tr{
		background-color:#fff;
		font-weight: bold;
	}
}

/*end of table formatting*/

table{
	border: 1px solid #98BF21;
	border-collapse: collapse;
	table-layout:fixed;
	width:100%;
}

tbody>tr>td{
	text-align: center;
	vertical-align: middle;
	padding: 2px;
}

tbody tr:hover{
	background:#d8d0b1;
}

.filter_icon{
	height:20px;
	width: 20px;
	border: 0;
	cursor: pointer;
}

.process_ok_icon{
	height: 25px;
	width: 25px;
	background:url('/images/process_ok.png') no-repeat left top;
	border: 0;
	cursor: pointer;
	background-size: 25px 25px;
	color:transparent;
	border-radius: 1px;
	vertical-align:middle;
}

.process_warning_icon{
	height: 25px;
	width: 25px;
	background:url('/images/process_warning.png') no-repeat left top;
	border: 0;
	cursor: pointer;
	background-size: 25px 25px;
	color:transparent;
	border-radius: 1px;
	vertical-align:middle;
}

.process_info_icon{
	height: 25px;
	width: 25px;
	background:url('/images/process_info.png') no-repeat left top;
	border: 0;
	cursor: pointer;
	background-size: 25px 25px;
	color:transparent;
	border-radius: 1px;
	vertical-align:middle;
}

.export_icon{
	height: 25px;
	width: 60px;
	cursor: pointer;
	border: 2px solid #1A783B;
	display: inline-block;
	color: #FFF;
	font-size: 9px;
	text-align: center;
	-webkit-appearance:none;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	border-radius: 0.4em;
	-moz-border-radius: 0.4em;
	-o-border-radius: 0.4em;
	background: #2ABF5E;
	outline: none;
}

.import_icon{
	height: 25px;
	width: 60px;
	cursor: pointer;
	border: 2px solid #8B0000;
	display: inline-block;
	color: #FFF;
	font-size: 9px;
	text-align: center;
	-webkit-appearance:none;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	border-radius: 0.4em;
	-moz-border-radius: 0.4em;
	-o-border-radius: 0.4em;
	background: #DB0000;
	outline: none;
}

.save_icon{
	height: 25px;
	width: 25px;
	background:url('/images/save.png') no-repeat left top;
	background-size: 25px 25px;
	color:transparent;
	border: 0;
	cursor: pointer;
	border-radius: 1px;
	vertical-align:middle;
}

.delete_icon{
	height:25px;
	width: 25px;
	background:url('/images/delete.png') no-repeat left top;
	background-size: 25px 25px;
	color:transparent;
	border: 0;
	cursor: pointer;
	border-radius: 1px;
	vertical-align:middle;
}

.copy_icon{
	height:25px;
	width: 25px;
	background:url('/images/copy.png') no-repeat left top;
	border: 0;
	cursor: pointer;
	background-size: 25px 25px;
	color:transparent;
	vertical-align:middle;
}

.edit_icon{
	height:25px;
	width: 25px;
	background:url('/images/edit.png') no-repeat left top;
	border: 0;
	cursor: pointer;
	background-size: 25px 25px;
	color:transparent;
	vertical-align:middle;
}

.add_icon{
	height:25px;
	width: 25px;
	background:url('/images/add_button.png') no-repeat left top;
	border: 0;
	cursor: pointer;
	background-size: 25px 25px;
	color:transparent;
	vertical-align:middle;
}

.add_image{
	height:25px;
	width: 25px;
	border: 0;
	cursor: pointer;
}

.prev_icon{
	height:30px;
	width: 50px;
	border: 0;
	cursor: pointer;
	float:left;
}

.next_icon{
	height:30px;
	width: 50px;
	border: 0;
	cursor: pointer;
	float:right;
}

.form_nav{
	width:100;
}

.print_icon{
	height:25px;
	width: 25px;
	background:url('/images/print.png') no-repeat left top;
	border: 0;
	cursor: pointer;
	background-size: 25px 25px;
	color:transparent;
	vertical-align:middle;
}


.customers_pane{
	overflow: auto;
	width: 99%;
	float:left;
}
.customers_content{
	width: auto;
	float: left;
	padding:5px;
}
.customers_content_item{
	background-color: #CCD2D6;
	color: #2A2A2A;
	width: 200px;
	height: 120px;
	float: left;
	text-align: left;
	margin:auto;
	padding: 5px;
	border: 2px solid #DCDDD3;
}
.customers_bar_wrap{
	clear: left; 
	padding: 0 4px 0 2px; 
	margin: 0 -1px -1px -1px; 
}

.figure{ 
  width: 90px; 
  float: left; 
  border: 2px solid white; 
  -webkit-box-shadow: 0 3px 10px #ccc; 
  -moz-box-shadow: 0 3px 10px #ccc;
  -webkit-transform: rotate(5deg); 
  -moz-transform: rotate(5deg);
  -webkit-transition: all 0.7s ease; 
  -moz-transition: all 1s ease;
  position: relative;
}

.figure>img{ 
  width: 100%; /* Scale down */
}

.figure:hover {
  -webkit-transform: rotate(-1deg); -moz-transform: rotate(1deg);
  -webkit-box-shadow: 0 3px 10px #666; -moz-box-shadow: 0 3px 10px #666;
}

.figure:active{
  outline: none;
  -webkit-transform: rotate(-3deg) scale(2.5); -moz-transform: rotate(-3deg) scale(2.5);
   -webkit-box-shadow: 0 3px 10px #666; -moz-box-shadow: 0 3px 10px #666;
  z-index: 9999;
}

.activity_header{
	background-color: #2A2A2A;
	color: #EBE5DC;
}

.activity_detail{
	background-color: #558C89;
	border: 2px solid #DCDDD3;
	color:#F5F3EE;
	padding: 5% 5% 5% 5%;
}

.activity_detail>a{
	font-size: .8em;
}

.activity_log{
	font-size: .6em;
}

.all_activity_detail{
	background-color: #558C89;
	border: 2px solid #DCDDD3;
	color:#F5F3EE;
	padding: 1% 5% 1% 5%;
	float:left;
	width:100%;
}

.all_activity_log{
	font-size: .9em;
}

.notification_detail{
	background-color: #9351A6;
	border: 2px solid #DCDDD3;
	color:#F5F3EE;
	padding: 1% 5% 1% 5%;
	float:left;
	width:100%;
}

.notification_detail input{
	color:#171B3A;
}

.notification_status{
	font-size: .9em;
}

.search_detail{
	background-color: #AB7D44;
	border: 2px solid #DCDDD3;
	color:#F5F3EE;
	padding: 1% 5% 1% 5%;
	float:left;
	width: 100%;
}

/** report sizing and display ***/
canvas{ 
	display:block;
	position:absolute;
	border: 1px solid black;
}

@media screen and (min-width: 900px) {
	#content_box{
		min-width:700px;
	}
}

@media screen and (min-width: 1100px) {
	#content_box{
		min-width:900px;
	}
}

@media screen and (min-width: 1300px) {
	#content_box{
		min-width:1100px;
	}
}

.modal_forms{
	display:none;
}

@media screen and (min-width: 550px) {
	#side_menu{
		background-color: #A2A2A2;	
		width: 50px;
		height: auto;
		position: fixed;
		top: 10%;
		left:0%;
		float: left;
		border-style: solid;
		border-width: 2px;
		border-radius: 5px;
		border-color: #A2A2A2;
		margin: 1% 1% 1% 0%;
		z-index:99;
	}
	
	.menu_icon{
		position:relative;
		width: 40px;
		height: 40px;
		margin: 15% 15% 15% 15%;
		cursor: pointer;
	}
	
	.icon{
		width:100%;
		border-radius: 2px;
	}
	footer{
		width:100%;
		position: fixed;
		bottom:0px;
		text-align: center;
		background: #2A2A2A;
		height: 35px;
		color: #EDEDE4;
		border-style: solid;
		border-width: 2px;
		border-radius: 5px;
		border-color: #2A2A2A;
		margin: 2px 2px 2px 2px;
		z-index:99;
	}
	#content_box{
		width: auto;
		float: left;
		border-style: solid;
		border-width: 2px;
		border-radius: 5px;
		border-color: #2A2A2A;
		top: 45px;
		left: 55px;
		height: auto;
		margin: 50px 140px 50px 60px;
	}
	.side_lane{
		width: 150px;
		height: 75%;
		min-height: 50%;
		text-align: left;
		float: right;
		border-style: solid;
		border-radius: 5px;
		border-width: 2px;
		border-color: #2A2A2A;
		margin: 1% 0% 1% 1%;
		position: fixed;
		top:45px;
		right:0%;
		overflow-y: scroll;
	}
}

@media screen and (max-width: 550px) {
	#side_menu{
		background-color: #A2A2A2;	
		width: 102%;
		height: 50px;
		position: fixed;
		bottom: -2%;
		left:-1%;
		border-style: solid;
		border-width: 2px;
		border-color: #A2A2A2;
		margin-left: 1%;
		z-index:99;
	}
	footer{
		display: none;
		color: transparent;
	}
	.menu_icon{
		position:relative;
		float: left;
		width: 40px;
		height: 40px;
		margin-left: 2%;
		margin-right: 2%;
		cursor: pointer;
	}
	.icon{
		border-radius: 2px;
	}
	#content_box{
		width: auto;
		float: left;
		border-style: solid;
		border-width: 2px;
		border-radius: 3px;
		border-color: #2A2A2A;
		top: 45px;
		left: 5px;
		height: auto;
		margin: 50px 5px 50px 5px;
	}
	.side_lane{
		display:none;
	}

}