RewriteEngine On
#if a directory or file exists, use it
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond $1 !^(handler\.php)
RewriteRule ^(.*)$ ./handler.php?url=$1 [L]
