/* here you can put your own css to customize and override the theme */

.topbar-search{
	width:100%;
	margin:2% 0;
}

.page-logo>a{
	margin:2% 0;
	width:80%;
	font-size: 1.4em;
	text-decoration: none;
}

.logo-text{
	color:#fff;
}

#loading_icon{
	font-size: 100px;
	color:#d64635;
}

.notification_check{
	display:inline-block;
	width:5%;
	font-size:40px;
	color:#4db3a4;
	cursor: pointer;
}

.notification_check_grey{
	display:inline-block;
	width:5%;
	font-size:40px;
	color:#555;
	cursor: pointer;
}

.notification_check:hover{
	color:#555;
}

.notification_detail{
	display: inline-block;
}