/* here you can put your own css to customize and override the theme */

.topbar-search{
	width:100%;
	margin:2% 0;
}

.page-logo>a{
	margin:2% 0;
	width:80%;
	font-size: 1.4em;
	text-decoration: none;
}

.logo-text{
	color:#fff;
}

#loading_icon{
	font-size: 100px;
	color:#d64635;
}

.notification_check{
	display:inline-block;
	width:5%;
	font-size:40px;
	color:#4db3a4;
	cursor: pointer;
	vertical-align: top;
}

.notification_check_grey{
	display:inline-block;
	width:5%;
	font-size:40px;
	color:#555;
	cursor: pointer;
	vertical-align: top;
}

.notification_check:hover{
	color:#555;
}

.notification_detail{
	display: inline-block;
	width:90%;
}

.activity_by{
	font-size:0.8em;
	color:#555;
	text-align:right;
}

.search-classic{
	border-bottom: 1px solid #DBDBDB;
}

.page-lock{
	display: none;
}

/* modal forms */
.modal-body input{
	margin-bottom: 2%;
}

.modal_forms > div{
	display: none;
}
/*****************/

/* dashboard grids */

.dashboard_grid{
	margin: 5% 0;
	padding: 0;
	float: left;
	width: 100%;
	height: 110px;
	background: #FFFFFF;
	cursor: pointer;
	color:#eee;
	border-radius:5px;
}

.dashboard_grid>div{
	padding: 1% 3%;
	border-bottom: 1px solid #d6d6d6;
	font-size: 0.9em;
}

.dashboard_grid>ul{
	list-style-type: none;	
	margin: 1%;
	padding: 1%;
	float: left;
	text-align: left;
	font-size: .8em;
	color:#eee;
}

@media screen and (max-width: 1000px) 
{
	.logo-text2{
		display: none;
	}	
}

@media screen and (max-width: 800px) 
{	
	.logo-text{
		display: none;
	}	

	.dashboard_grid>ul{
		display: none;
	}
	
	.dashboard_grid>div{
		font-size: 1.8em;
		text-align: center;
		border:none;
		margin:0;
		padding: 60px 0px;		
	}
	.dashboard_grid {
		margin: 5% 0; 	
		padding: 0;
		float: left;
		width: 100%;
		height: 150px;
	}
}
/*****************/

/********no more tables**********/
@media only screen and (max-width: 800px) {
	
	/* Force table to not be like tables anymore */
	.no-more-tables,
	.no-more-tables table, 
	.no-more-tables thead, 
	.no-more-tables tbody, 
	.no-more-tables th, 
	.no-more-tables td, 
	.no-more-tables tr { 
		display: block; 
	}
 
	/* Hide table headers (but not display: none;, for accessibility) */
	.no-more-tables thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
 
	.no-more-tables tr { border: 1px solid #ccc; }
 
	.no-more-tables > tbody > tr > td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 40%; 
		white-space: normal;
		text-align:left;
	}
 
	.no-more-tables td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 35%; 
		padding-right: 10px; 
		white-space: nowrap;
		text-align:left;
		font-weight: bold;
	}
 
	/*	Label the data	*/
	.no-more-tables td:before { content: attr(data-th); }
}
/*****************************/

/******form controls**********/

input, textarea{
	outline: 0px none !important;
	width:100%;
	padding:6px 12px;
	background-color: #fff;
	border: 1px solid #C2CAD8;
	height:45px;
	font-size: 14px;
	color: #555;
	display: block;
	line-height:1.42857;
}
/****************************/

/********tab color**********/

.tab_color > li.active > a,
.tab_color > li.active > a:focus,
.tab_color > li.active > a:hover {
    background-color: #67809F;
}
/***************************/

/*******tab height***********/

.tab-pane > .portlet-body{
	min-height: 450px;
}

/***************************/