<div class='print_sale_bill'>
	<div class='header'>
		<div class='logo'></div>
		<div class='title'></div>
		<div class='seller_info'>
			<div class='seller_name'></div>
			<div class='seller_phone'></div>
			<div class='seller_address'></div>
		</div>
	</div>
	<div class='content'>
		<div class='invoice_header'>
			<div class='invoice_date'></div>
			<div class='invoice_num'></div>
			<div class='customer_info'>
				<div class='customer_name'></div>
				<div class='customer_phone'></div>
				<div class='customer_address'></div>
			</div>
		</div>
		<div class='invoice_details'>
		</div>
		<div class='invoice_footer'>
			<div class='invoice_total'></div>
			<div class='invoice_discount'></div>
			<div class='invoice_taxes'></div>
			<div class='invoice_net'></div>
		</div>
	</div>
	<div class='footer'>
		<div class='contact_details'></div>
	</div>
</div>